<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landingstyle.css') }}">
</head>
<body>
    <div class="overlay"></div>

    <div class="content">
        <h1>WELCOME TO OUR SERVICE</h1>
        <p>육군사관학교 멘토-멘티 프로그램</p>

        <div class="btn-group">
            <a href="/login" class="btn login">로그인</a>
            <a href="/register" class="btn register">회원가입</a>
        </div>
    </div>

</body>
</html>






	